<div class="container" id="educacion">
    <h2>Educacion</h2>
    <ul>
        <li class="d-flex">
            <div class="imagen">
                <img src="" alt="logo-instituto">
            </div>
            <div class="descripcion">
                <h3>Instituto</h3>
                <p>titulo</p>
                <p>periodo</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dicta voluptates labore? Veritatis, eaque mollitia suscipit impedit doloribus facilis debitis, perferendis ratione rerum hic aspernatur officia fugiat quasi quia rem?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ut deserunt officiis, ipsum temporibus voluptatibus quas natus! Ipsum sapiente assumenda tempora recusandae totam in accusamus provident, dignissimos perferendis itaque rem.</p>
            </div> 
        </li>
    </ul>

</div>
