<div class="d-flex">
    <a href="https://github.com/ANicoGamarra" target="_blank" class="me-2">
        <img class="img-fluid" class="bg-light" src="assets/imagenes/git3.png" alt="">
    </a>    
    <a href="#" class="me-2">
        <img class="img-fluid" class="bg-light" src="assets/imagenes/lnkd2.png" alt="">
    </a>    
    <a href="#"class="me-2">
        <img class="img-fluid" class="bg-light" src="assets/imagenes/inst2.png" alt="">
    </a>
    <a href="#"class="me-2">
        <img class="img-fluid" class="bg-light" src="assets/imagenes/fbk2.png" alt="">
    </a>
    
        <app-btn-inicio-sesion class="btn-inicio"></app-btn-inicio-sesion>
    
</div>
