<div class="container" id="skills">
    <h2>Skills</h2>
    <div class="progress my-2">   
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Dormir</div>
    </div>
    <div class="progress my-2">   
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Ejercitar</div>
    </div>
    <div class="progress my-2">    
        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Leer</div>
    </div>
    <div class="progress my-2">        
        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Practicar</div>
    </div>
    <div class="progress my-2">        
        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Tomar mate</div>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dicta voluptates labore? Veritatis, eaque mollitia suscipit impedit doloribus facilis debitis, perferendis ratione rerum hic aspernatur officia fugiat quasi quia rem?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam ut deserunt officiis, ipsum temporibus voluptatibus quas natus! Ipsum sapiente assumenda tempora recusandae totam in accusamus provident, dignissimos perferendis itaque rem.</p>
</div>
