<div class="collapse" id="navbarToggleExternalContent">
  <div class="p-4 d-flex">
    <a href="#acerca-de"> <mat-icon>info</mat-icon>	 </a>
    <a href="#experiencia"><mat-icon>work</mat-icon></a>
    <a href="#educacion"><mat-icon>school</mat-icon></a>
    <a href="#skills"><mat-icon>equalizer</mat-icon></a>
    <a href="#proyectos"> <mat-icon >description</mat-icon> </a>
    
  </div>
</div>
<nav class="navbar navbar-dark bg-info">
  <div class="d-flex">
    <button class="navbar-toggler border border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <app-ap-logo></app-ap-logo>
    <app-redes></app-redes>
  </div>
</nav>
