<div class="container pt-3">
    <div class="d-flex justify-content-end">
        <button class="btn btn-dark" (click)="volverHome()">Volver</button>
    </div>

    <div class="container justify-content-center">
        <h1>¡Bienvenido!</h1>
        <form form-control>
            <input type="text" placeholder="ingrese su usuario por favor" class="form-control form-control-lg">
            <hr>
            <input type="text" placeholder="ingrese su contraseña por favor" class="form-control form-control-lg">
            <hr>
            <div class="d-grid gap-2">
                <button class="btn btn-dark">Iniciar sesión</button>
            </div>    
            
        </form>
    </div>
</div>

